/* цвет основного текста #212121 */
/* вторичный цвет текста  #757575; */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A , #F5F4FA*/
/* оснновной цвет фона #ffffff*/
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --acent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-text-color: #2f303a;
}
body {
  color: var(--primery-text-color);
  background: var(--primary-white-color);
}

footer {
  background-color: var(--secondary-text-color);
}
.list {
  list-style: none;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--acent-color);
}

.contacts-nav .link {
  color: var(--primery-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--acent-color);
}

/*logo*/

/*Hero*/
.hero {
  background-color: var(--secondary-text-color);
}
.hero-title {
  color: #ffffff;
}

/*button*/

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}
.button.primery {
  color: var(--primary-white-color);
  background-color: var(--acent-color);
}

/*.button.services {
  color: var(--primary-white-color);
  background-color: var(--acent-color);
}
*/

/*section*/

.section-title {
  color: var(--title-text-color);
}

/*feature*/
.feature .title {
  color: var(--title-text-color);
}

/*team*/
.team .title {
  color: var(--title-text-color);
}
/*footer*/
.list .address {
  color: #ffffff;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
/*portfolio*/
.projects .title {
  color: var(--title-text-color);
}
